.SequencerStep {
  display: flex;
  flex-direction: column;
}

.SequencerStep-active {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 91, 124);
}

input[type=range] {
  width: 70px;
}

input.SequencerStep[type=checkbox] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: rgb(141, 149, 147);
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 70px;
  height: 70px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input.SequencerStep[type="checkbox"]:checked::before {
  background-color: rgb(31, 224, 218);
}

input.SequencerStep[type="checkbox"]::before {
  content: "";
  width: 66px;
  height: 66px;
}