.SequencerStep {
  display: flex;
  flex-direction: column;
}

.SequencerStep-active {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 91, 124);
}

.SequencerStep-muted {
  display: flex;
  flex-direction: column;
  background-color: rgb(80, 84, 83);
}

.SequencerStep-active-muted {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 87, 119);
}

input[type=range] {
  width: 70px;
}

input.SequencerStep[type=checkbox] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: rgb(141, 149, 147);
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  border-style: solid;
  border-color: rgb(30, 30, 30);
  width: 70px;
  height: 70px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input.SequencerStep-muted[type=checkbox] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: rgb(63, 66, 65);
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: currentColor;
    border-style: solid;
    border-color: rgb(30, 30, 30);
    width: 70px;
    height: 70px;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input.SequencerStep-muted[type="checkbox"]:checked::before {
  background-color: rgb(17, 103, 100);
}

input.SequencerStep[type="checkbox"]:checked::before {
  background-color: rgb(31, 224, 218);
}

input.SequencerStep[type="checkbox"]::before {
  content: "";
  width: 66px;
  height: 66px;
}

input.SequencerStep-muted[type="checkbox"]::before {
  content: "";
  width: 66px;
  height: 66px;
}