.SequencerStep {
  display: flex;
  flex-direction: column;
}

input.SequencerStep[type=checkbox] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: rgb(141, 149, 147);
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  border-style: solid;
  border-radius: 0;
  border-width: 0.5px;
  border-color: rgb(30, 30, 30);
  width: 69px;
  height: 54px;
  transform: translateY(-0.075em);
  display: flex;
  flex-grow: 1;
  place-content: center;
}

input.SequencerStep.playing[type=checkbox] {
  background-color: rgb(166, 38, 115);
}

input.SequencerStep.muted.playing[type=checkbox] {
  background-color: rgb(72, 77, 75);
}
input.SequencerStep.muted[type=checkbox] {
  background-color: rgb(63, 66, 65);
}

input.SequencerStep.muted[type="checkbox"]:checked::before {
  background-color: rgb(17, 103, 100);
}

input.SequencerStep[type="checkbox"]:checked::before {
  background-color: rgb(31, 224, 218);
}

input.SequencerStep.playing[type="checkbox"]:checked::before {
  background-color: rgb(245, 50, 167);
}

input.SequencerStep.muted.playing[type="checkbox"]:checked::before {
  background-color: rgb(110, 19, 74);
}

input.SequencerStep[type="checkbox"]::before {
  content: "";
  width: 68px;
  height: 53px;
}