input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  color: #ffffff;
  -webkit-box-shadow: 0 0 0px 40rem rgb(77, 75, 75) inset;
  box-shadow: 0 0 0px 40rem rgb(75, 75, 75) inset;
}
